@model IEnumerable<AulaScaffoldFramework.Models.SECRETARIA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOME_SEC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENDRECO_SEC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BAIRRO_SEC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOME_SEC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENDRECO_SEC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BAIRRO_SEC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_SEC }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_SEC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_SEC })
        </td>
    </tr>
}

</table>
