@model AulaScaffoldFramework.Models.EMPRESA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMPRESA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOME_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENDERECO_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENDERECO_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BAIRRO_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BAIRRO_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIDADE_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIDADE_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UF_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UF_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEP_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNPJ_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FONE_EMRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FONE_EMRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOGO_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOGO_EMPRESA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_EMPRESA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
