@model AulaScaffoldFramework.Models.UNIDADE_MEDIDA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UNIDADE_MEDIDA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOME_UN_MED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME_UN_MED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIGLA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIGLA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_UN_MED }) |
    @Html.ActionLink("Back to List", "Index")
</p>
